@model UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @if (Model.User.Uri == null)
            {
                <img src="images/donater-default.png" />
            }
            else
            {
                <img class="mypic" src="@Model.User.Uri"/>
            }
        </div>
        <div class="col-md-9">
            <h3>@Model.User.UserName</h3>
            <h5>@Model.User.Email</h5>
            <a class="btn btn-sm btn-outline-info" role="button" asp-controller="Profile" asp-action="EditDonaterProfile" asp-route-userId="@Model.User.Id">Edit</a>
        </div>
    </div>
</div>