@model DonaterViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            @if (Model.Donater.Uri == null)
            {
                
            }
        </div>
        <div class="col-md-9">
            
        </div>
    </div>
</div>