@model OrganizationViewModel

    <div class="container">
        <form asp-controller="Profile" asp-action="EditOrgProfile" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="CompanyName">Company name</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxNumber">Your company's Tax Number</label>
                <input asp-for="TaxNumber" class="form-control" />
                <span asp-validation-for="TaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headquarters">Name of your HQ</label>
                <input asp-for="Headquarters" class="form-control" />
                <span asp-validation-for="Headquarters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website">Website</label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description about your Co.</label>
                <textarea asp-for="Description" rows="5" id="comment"></textarea>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeName">Name of Representative</label>
                <input asp-for="RepresentativeName" class="form-control" />
                <span asp-validation-for="RepresentativeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharityType">The type of your charity</label>
                <input type="text" placeholder="Animal, Environmental, International, Education ..."
                       asp-for="CharityType" class="form-control" />
                <span asp-validation-for="CharityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.ErrorMessages != null)
                {
                    @foreach (var error in Model.ErrorMessages)
                    {
                        <span class="text-danger">@error</span>
                    }
                }
                <div>
                    <input type="file" asp-for="@Model.File" multiple />
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-info">Save</button>
        </form>
        <a class="btn btn-sm btn-outline-danger" role="button" asp-controller="Profile" asp-action="OrgProfile">Cancel</a>
    </div>