@model DonaterViewModel

@{
    ViewData["Title"] = "Edit Profile";
}
    <div class="container">
        <h1>Edit Profile</h1>
        
<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <br/>
            <h3>Edit profile</h3>
            <form asp-controller="Profile" asp-action="EditDonaterProfile" method="post">
                <div class="md-form">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm btn-outline-success">Save</button>
                </div>
            </form>
            <div>
                <a class="btn btn-sm btn-outline-danger" role="button" asp-controller="Profile" asp-action="DonaterProfile">Cancel</a>
            </div>
            <br/>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br/>
</div>
</div>