
@{
    ViewData["Title"] = "OrgProfile";
}

<h1>OrgProfile</h1>
<body>
<script>
    src="https://www.paypal.com/sdk/js?client-id=ClientId" // Required. Replace SB_CLIENT_ID with your sandbox client ID.
  </script>
</body>
