
@{
    ViewData["Title"] = "Payed";
}



<div class="view">
    <img class="d-block w-100" src="~/images/thank-you-note.jpg"
         alt="Second slide">
    <div class="mask rgba-black-strong"></div>
</div>