<div id="carousel-example-2" class="carousel slide carousel-fade landingPage" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="~/images/african-american-3520016_uj.jpg"
                     alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <form method="get">
                <div class="carousel-caption google-btn">
                    <button type="submit" class="btn btn-light" asp-controller="User" asp-action="OrganizationRegistration">
                        Register as Organization
                    </button>
                </div>
            </form>
        </div>
        <div class="carousel-item">
            <div class="view">
                <img class="d-block w-100" src="~/images/photo-1541782678416-16977e3325d2.jpg"
                     alt="Second slide">
                <div class="mask rgba-black-strong"></div>
            </div>
            <form method="get">
                <div class="carousel-caption google-btn">
                    <button type="submit" class="btn btn-light" asp-controller="User" asp-action="DonaterRegistration">
                        Register as donator
                    </button>
                </div>
            </form>
        </div>
        <div class="carousel-item">
            <div class="view">
                <img class="d-block w-100" src="~/images/war-953246_1280.jpg"
                     alt="Third slide">
                <div class="mask rgba-black-slight"></div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>