@model List<Campaign>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card-deck">
                @if (Model != null)
                {
                    @foreach (var campaign in @Model)
                    {
                        <div class=" col-md-4 mb-4">
                            <div class="card">
                                <div class="view overlay">
                                    @if (campaign.Uri != null)
                                    {
                                        <img class="card-img-top" src="@campaign.Uri">
                                    }
                                    else
                                    {
                                        <img class="card-img-top" src="images/org-default.png">
                                    }
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">@campaign.Title</h4>
                                    <p class="card-text">@campaign.Description</p>
                                    <form asp-controller="Campaign" asp-action="CampaignInfo" asp-route-campaignId="@campaign.CampaignId" method="get">
                                        <button type="submit" class="btn btn-light-blue btn-md">Read more</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>